@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EvcilHayvanım - Admin Paneli</title>
    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/writer/assets/css/style.css">
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <h3>Admin Paneli</h3>
                <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="~/writer/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <br /><br />
                        <h4>MENÜ</h4>
                        <br />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index/">
                            <span class="menu-title">Evcil Hayvanlar</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon" style="color:#8E44AD"></i>
                        </a>
                    </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/About/Index/">
                            <span class="menu-title">Hakkımızda</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon" style="color:#8E44AD"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Animal/Index/">
                            <span class="menu-title">SİTEYE GİT</span>
                            <i class="mdi mdi-car menu-icon" style="color:#8E44AD"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Index/">
                            <span class="menu-title">ÇIKIŞ YAP</span>
                            <i class="mdi mdi-logout menu-icon" style="color:#8E44AD"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tüm Hakları Saklıdır | @DateTime.Now.Year</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Kullanıcı Paneli </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
</body>
</html>

